* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

header, nav, aside, footer {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial;
  font-size: 100%;
  line-height: 1;
  font-size: 15px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button, a {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

body {
  color: #000;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px 0 40px;
}


.header {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
}

.header-body {
  position: relative;
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.logo {
  opacity: 1;
  visibility: visible;
  -webkit-transition: .2s opacity, .2s visibility;
  transition: .2s opacity, .2s visibility;
}

.logo.active {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .2s opacity, .2s visibility;
  transition: .2s opacity, .2s visibility;
}

.logo-title {
  margin-bottom: 7px;
  color: #F1CDB3;
  font-size: 32px;
  font-family: Georgia;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.logo-title:hover {
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.logo-subtitle {
  padding-left: 4px;
  font-size: 13px;
  color: #FFFFFF;
  line-height: 160%;
  letter-spacing: 0.1em;
}

.header-nav-menu.active {
  top: 0%;
  right: -15%;
  -webkit-box-shadow: 0 0 0 9999px rgba(41, 41, 41, 0.6);
  box-shadow: 0 0 0 9999px rgba(41, 41, 41, 0.6);
}

.header-nav-list {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header-nav-list *:not(:last-child) {
  margin-right: 35px;
}

.header-link {
  padding-bottom: 5px;
  line-height: 160%;
  color: #CDCDCD;
}

.header-link:hover {
  color: #F1CDB3;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.link-linked {
  border-bottom: 3px solid #F1CDB3;
  color: #FFFFFF;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.screen {
  background: url(/shelter/assets/images/noise_transparent@2x.png) repeat 0 0, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.start-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.start-screen-body {
  padding: 343px 42px 0 0;
}

.start-screen-body *:not(:last-child) {
  margin-bottom: 42px;
}

.start-screen-title {
  max-width: 310px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
}

.start-screen-text {
  max-width: 460px;
  color: #CDCDCD;
  line-height: 160%;
}

.start-screen-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}


.btn-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 52px;
  min-width: 207px;
  background: #F1CDB3;
  border-radius: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Georgia';
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.btn-primary:hover {
  background: #FDDCC4;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 52px;
  min-width: 187px;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
}

.btn-border:hover {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}



.start-screen-item {
  padding-top: 180px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0 100px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 408px;
}

.about-body-img img {
  margin-right: 120px;
}

.about-body-text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 430px;
  max-height: 430px;
}

.about-body-text *:not(:last-child) {
  margin-bottom: 25px;
}

.about-title {
  max-width: 370px;
}

.title {
  font-family: 'Georgia';
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.about-text {
  line-height: 160%;
  color: #4C4C4C;
}

